@import '~bootstrap-css-only/css/bootstrap.min.css';
@import 'styles/Antd/antd.cleanui.scss';
@import 'styles/CleanUI/cleanui.scss';
@import 'styles/Bootstrap/bootstrap.cleanui.scss';
@import 'styles/Chartist/chartist.cleanui.scss';
@import 'styles/Nprogress/nprogress.cleanui.scss';
@import 'styles/Rcdrawer/rcdrawer.cleanui.scss';
@import 'styles/mixins.scss';
@import '~c3/c3.min.css';

/* Change autofill's background color */
input,
textarea,
select {
  &:-webkit-autofill,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }
}

// custom scrollbar for browser
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 rem(6) $gray-3;
	background-color: $white-1;
}

body::-webkit-scrollbar
{
	width: rem(8);
	background-color: $white-1;
}

body::-webkit-scrollbar-thumb
{
  background-color: $text-lighten;
  border-radius: rem(10);
}
